/* ------------ Statusoverzicht --------------------------------*/
.innemen{
    width: 60vw;
    margin: auto;
    margin-top: var(--spacing-xl);
    max-width: 600px;
    width: 100%;
    .button-box{
        display: flex;
        gap: var(--spacing-sm);
        button{
            width: 100%;
        }
    }
}
